$icon-light-green: #00b4cf;
$icon-dark-green: #01869a;
$icon-hover-blue:#0084cf;

.statistics-tab{
    display: flex;
    align-items: center;
    background: #fff;
    height: 50px;
    .statistics-tab-filter{
        height: 100%;
        display: flex;
        .statistics-tab-filter-item{
            padding: 15px 20px;
            cursor: pointer;
            height: 100%;
            border-right: 1px solid #e1e4e6;
        }
        .statistics-tab-filter-item:hover{
            color: $icon-light-green;
            font-weight: bold;
            border-bottom: 2px solid $icon-light-green;
        }
        .visited{
            color: $icon-light-green;
            font-weight: bold;
            border-bottom: 2px solid $icon-light-green;
        }
    }
    .statistics-tab-filter-search{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0 20px;
        .statistics-tab-filter-icon{
            margin: 0 10px;
            font-size: 20px;
        }
        .statistics-tab-filter-icon:hover{
            color: $icon-light-green;
            cursor: pointer;
        }
    }
}