$button-light-green: #00b4cf;
$button-dark-green: #01869a;
$button-dark-bg:#2d4054;
.popup-dialogue{
    width: 570px;
    position: absolute;
    left: -20px;
    top: 45px;
    z-index: 99999;
    padding: 20px;
    background: #ffffff;
    border: 1px solid $button-light-green;
    box-shadow: 0 3px 5px (#000 30%);
    .popup-dialogue-arrow{
        width: 10px;
        height: 10px;
        position: absolute;
        top: -6px;
        left: 24px;
        transform: rotate(45deg);
        background: #fff;
        border-top:1px solid $button-light-green;
        border-left:1px solid $button-light-green;
    }
    .popup-dialogue-close{
        position: absolute;
        right: 20px;
        top: 10px;
        color: $button-light-green;
    }
    .popup-dialogue-description{

    }
    .popup-dialogue-input{
        width: 100%;
        height: 30px;
        margin: 15px 0;
    }
    .popup-dialogue-buttongroup{
        display: flex;
        .button{
            height: 30px;
            padding: 5px 10px;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            color: #ffffff;
            cursor: pointer;
        }
        .popup-dialogue-buttongroup-add{
            background: $button-light-green;

        }
        .popup-dialogue-buttongroup-cancel{
            min-width: 100px;
            margin-left: 20px;
            background: $button-dark-bg;
        }
    }
}
.popup-dialogue-layer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.next-input input, .next-input textarea{
    color: $button-light-green;
    margin-left: 15px;
    line-height: 2;
}